<ul>
    @* HTML helper *@
    @* <li> *@
    @*     @this.Html.ActionLink("View All Contacts","GetContacts") *@
    @* </li> *@
    <li>
        @* tag helper *@
        <a asp-action="GetContacts" asp-controller="Contact">View All Contacts</a>
    </li>
</ul>